SuiteTeste/tests/results/
BooksAPI/results
BuiltlnAvancado/results
LibrariesAuxiliares/results
MyCustomLibraries/results
WebTesting/SuiteSiteTestePracticePO_antes_de_refatorar/tests/results
API/results
API/variables